.product-card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.product-card-item {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.product-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
